<h2 class="page-header">Admin Login</h2>
<form method="post" action="/users/login">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<style>
.header {
    padding-bottom: 1rem;
    border-bottom: .0px solid #e5e5e5;
}

.footer {
    padding-top: 1.5rem;
    color: #777;
    border-top: 0px solid #e5e5e5;
}

.container {
    width: 400px;
}

.btn {
    display: inline-block;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 0.25rem;
    transition: all 0.15s ease-in-out;
    background: #b13811;
}

.btn:hover {
    background: #ec5728;
}

.bg-info {
    background-color: #d8811f !important;
    box-shadow: 33px 24px 41px #c8771d;
    border-radius: 42px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    transition: border-color cubic-bezier(.31,-0.01,.58,1) 0.15s, box-shadow cubic-bezier(.39,.58,.57,1) 0.15s;
    box-shadow: 1px 6px 6px black;
}
</style>
